*{
	margin: 0;
	padding: 0;
	width: 100%;
}

#container{
	width: 100%;
	height: 100%;
	background: grey;
}

#navigasi{
	margin-top: 5px;
	margin-left: 3px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#menu{
	margin-top: 8px;
	margin-left: 5px;
	position: absolute;
	width: 100px;
	height: 300px;
	background: white;
	display: none;
	border: 3px solid black;
	border-radius: 7px;
}

.basic, .pangkat, .logaritma, .akar{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100px;
}

a{
	margin-left: 10px;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

#lane_menu{
	margin: 0 auto;
	margin-top: 8px;
	width: 80%;
	height: 4px;
	background: grey;
	border-radius: 10px;
}

a:hover {
	color: grey;
}

#close{
	width: 100%;
}

#close img{
	margin-top: 15px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

#versi{
	margin:0 auto;
	background: grey;
	position: relative;
	top: 30px;
	width: 80%;
	border-radius: 3px;
	color: white;
}

#judul{
	width: 100%;
	height: 50px;
	padding-top: 5px; 
}

#lane_navigasi, #lane_copy{
	margin: 0 auto;
	width: 90%;
	height: 33px;
}

#lane{
	width: 100%;
	height: 5px;
	background: white;
	border-radius: 10px;
}

#main{
	margin: 0 auto;
	width: 80%;
	height: 250px;
}

#input_font_input{
	margin: 0 auto;
	position: relative;
	top: 20px;
	width: 247px;
}

input{
	width: 80px;
	height: 30px;
}

#font_p{
	margin-left: 5px;
	margin-right: 5px;
	color: white;
	font-size: 20px;
}

#button{
	margin-top: 30px;
	width: 100%;
}

button{
	width: 60px;
}

#hasil{
	margin: 0 auto;
	margin-top: 15px;
	width: 20%;
	max-width: 50%;
	height: 40px;
	position: relative;
	background: white;
}

p{
	font-size: 30px;
	color: black;
	text-align: center;
}

#reset{	
	margin-top: 15px;
	position: relative;
}

#copy{
	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 2px;
}

